{% extends "forum/base.html" %}
{% load i18n %}
{% load tailwind_filters %}

{% block content %}

	{% if form.errors %}
		<p>{% trans "Your username and password didn't match. Please try again." %}</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>{% blocktrans %}Your account doesn't have access to this page. To proceed, please login with an account
			                   that has access.{% endblocktrans %}</p>
		{% else %}
			<p>{% trans "Please Login to see this page" %}</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" value="login"
		       class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
		<a type="button" href="{% url "user-register" %}"
		   class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">{% trans "Register" %}</a>
		<input type="hidden" name="next" value="{{ next }}">
	</form>



	{# Assumes you setup the password_reset view in your URLconf #}
	<p><a href="{% url 'password_reset' %}">{% trans "Lost Password ?" %}</a></p>

{% endblock %}