{% extends 'forum/base.html' %}
{% block content %}
{% for thread in thread_list %}
<div class="mt-6">
   <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
      <div class="flex justify-between items-center"><span class="font-light text-gray-600">{{ thread.created_at|date }}</span>
         {% for category in thread.categories.all %}
         <a href="#"
            class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">{{ category.name }}</a>
         {% endfor %}
      </div>
      <div class="mt-2">
         <a href="#"
            class="text-2xl text-gray-700 font-bold hover:underline">{{ thread.title }}</a>
         <p class="mt-2 text-gray-600">{{ thread.content }}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
         <a href="{% url 'thread-detail' thread.id %}"
            class="text-blue-500 hover:underline">Read more</a>
         <div>
            <a href="#" class="flex items-center">
               <img
                  src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=333&amp;q=80"
                  alt="avatar" class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block">
               <h1 class="text-gray-700 font-bold hover:underline">{{ thread.author }}</h1>
            </a>
         </div>
      </div>
   </div>
</div>
{% endfor %}
{% if is_paginated %}
<div class="mt-8">
   <div class="flex">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="mx-1 px-3 py-2 bg-white text-gray-500 font-medium rounded-md cursor-not-allowed">
      previous
      </a>
      {% endif %}
      <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 font-medium hover:bg-blue-500 hover:text-white rounded-md">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </a>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="mx-1 px-3 py-2 bg-white text-gray-500 font-medium hover:bg-blue-500 hover:text-white rounded-md">
      Next
      </a>
      {% endif %}
   </div>
</div>
{% endif %}
{% endblock %}