{% extends 'forum/base.html' %}

{% block content %}

<h1>{{ thread.title }}</h1><hr>

    <p>{{ thread.content }}</p>
    <p>{{ thread.created_at|date }}</p>

    <ul>
        {% for category in thread.categories.all %}
            <li>{{ category.colored_name }}</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'thread-delete' thread.id %}">delete</a>
    {% endif %}

    <hr>

    <ul>
    {% for post in thread.get_posts.all %}
        {% if not post.parent %}

            {% include "forum/tree_post.html" %}

        {% endif %}
    {% endfor %}
    </ul>

    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

{% endblock %}