
    <li style="border-left: 1px black solid;">{{ post.content }} {{ post.votes }}
        <form method="post" action="{% url "karmaUp" post.id %}">
            {% csrf_token %}
            <button type="submit">Upvote</button>
        </form>
        <form method="post" action="{% url "karmaUp" post.id %}">
            {% csrf_token %}
            <button type="submit">Downvote</button>
        </form>
        {% if post.children %}
            <ul>
            {% for child in post.children.get_queryset %}

                {% with post=child template_name="forum/tree_post.html"  %}
                    {% include "forum/tree_post.html" %}
                {% endwith %}

            {% endfor %}
            </ul>
        {% endif %}
    </li>
